Repository Hackiri/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, deadnix, statix, stylua

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Format Nix files with alejandra
        entry: alejandra
        language: system
        files: \.nix$

      - id: deadnix
        name: Find dead Nix code
        entry: deadnix
        language: system
        files: \.nix$

      - id: statix
        name: Lint Nix files
        entry: sh
        args: [-c, "cd $(git rev-parse --show-toplevel) && statix check"]
        language: system
        files: \.nix$
        pass_filenames: false

      - id: stylua
        name: Format Lua files
        entry: stylua
        language: system
        files: \.lua$

Update git-hooks
  home/git-hooks.nix
  secrets/secrets.nix
Due: alejandra, deadnix, statix

Update Dir
  home/common.nix
  home/git/git-hooks.nix
  home/kube/kube-config.nix
  home/kube/kube.nix
  home/python/python-pkg.nix
  home/sops-nix/sops.nix
Due: alejandra, deadnix, statix

Fix all relative import paths in moved files (e.g., pkgs, secrets.yaml)
  home/git/git-hooks.nix
  home/kube/kube-config.nix
Due: alejandra, deadnix, statix

Update README.md
  README.md
Due: none

Added Emacs Overlay
  overlays/default.nix
  overlays/emacs.nix
Due: alejandra, deadnix, statix

...
  overlays/default.nix
  overlays/emacs.nix
Due: alejandra, deadnix, statix

Added Windsurf neovim plugin
  home/neovim/lua/plugins/windsurf.lua
Due: stylua

Update configuration files: aerospace, neovim plugins, git hooks, ghostty, and kubernetes tools
  home/aerospace/default.nix
  home/git/git-hooks.nix
  home/neovim/lua/config/lazy.lua
  home/neovim/lua/plugins/blink-cmp.lua
  home/neovim/lua/plugins/colorschemes/eldritch.lua
  home/neovim/lua/plugins/mason-tool-installer.lua
  home/neovim/lua/plugins/windsurf.lua
  home/terminal/ghostty/config
  pkgs/kubernetes-tools.nix
Due: alejandra, deadnix, statix, stylua

add cccli.nvim
  home/neovim/lua/plugins/avante.lua
  home/neovim/lua/plugins/cccli.lua
Due: stylua

flake update
  flake.lock
  home/common-pkg.nix
  home/neovim/lua/plugins/avante.lua
  home/neovim/lua/plugins/cccli.lua
Due: alejandra, deadnix, statix, stylua

update neovim plugins
  home/neovim/lua/plugins/cccli.lua
Due: stylua

format files
  home/neovim/lua/config/lazy.lua
  home/neovim/lua/config/options.lua
Due: stylua

format files
  home/neovim/default.nix
Due: alejandra, deadnix, statix

feat: fix nix-darwin setup and telescope-fzf-native build
  flake.lock
  flake.nix
  home/darwin.nix
  home/neovim/default.nix
  home/neovim/lua/plugins/cccli.lua
  home/neovim/lua/plugins/ghostty.lua
  home/neovim/lua/plugins/telescope-frecency.lua
  home/neovim/lua/plugins/telescope.lua
  modules/darwin/homebrew.nix
Due: alejandra, deadnix, statix, stylua

GPG & SOPS Setup
  .gitignore
  .sops.yaml
  secrets/secrets.yaml
Due: none

Update README.md
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/EFCB7199710DD6BA7A27B3451A4071CC351A46CE.gpg
  README.md
  home/common-pkg.nix
Due: alejandra, deadnix, statix

...
  README.md
Due: none

reorganized host configuration
  flake.nix
  home/darwin.nix
  hosts/nix-darwin/mbp/configuration.nix
  hosts/nix-darwin/mbp/home.nix
  modules/darwin/homebrew.nix
Due: alejandra, deadnix, statix

fixed imports
  hosts/nix-darwin/mbp/configuration.nix
  hosts/nix-darwin/mbp/home.nix
Due: alejandra, deadnix, statix

add tmux title functionality and pre-commit hook
  flake.lock
  flake.nix
  home/git/git-hooks.nix
  home/neovim/lua/config/autocmds.lua
  home/tmux/tmux.conf
Due: alejandra, deadnix, statix, stylua

fix: resolve pre-commit issues - statix warning and stylua formatting
  flake.nix
  home/neovim/lua/config/autocmds.lua
Due: alejandra, deadnix, statix, stylua

added nixos config
  flake.lock
  flake.nix
  home/git/git-hooks.nix
  hosts/nixos/alpha-nix/configuration.nix
  hosts/nixos/alpha-nix/hardware-configuration.nix
  hosts/nixos/desktop/configuration.nix
  hosts/nixos/desktop/hardware-configuration.nix
  hosts/nixos/desktop/home.nix
  hosts/nixos/origin-nix/configuration.nix
  hosts/nixos/origin-nix/hardware-configuration.nix
Due: alejandra, deadnix, statix

feat(kube): enhance Kubernetes development environment
  home/kube/kube-config.nix
  home/kube/kube.nix
  pkgs/kubernetes-tools.nix
Due: alejandra, deadnix, statix

fix(nixos): resolve syntax errors and improve formatting
  hosts/nixos/alpha-nix/configuration.nix
  hosts/nixos/alpha-nix/hardware-configuration.nix
  hosts/nixos/desktop/configuration.nix
  hosts/nixos/desktop/hardware-configuration.nix
  hosts/nixos/origin-nix/configuration.nix
  hosts/nixos/origin-nix/hardware-configuration.nix
Due: alejandra, deadnix, statix

chore: update flake dependencies and fix Darwin system specification
  flake.lock
  flake.nix
Due: alejandra, deadnix, statix

fixed duplicate [mode.service.binding] table definition
  home/aerospace/default.nix
Due: alejandra, deadnix, statix

...
  hosts/nixos/alpha-nix/configuration.nix
  hosts/nixos/alpha-nix/hardware-configuration.nix
  hosts/nixos/origin-nix/configuration.nix
  hosts/nixos/origin-nix/hardware-configuration.nix
Due: alejandra, deadnix, statix

Restructure hosts directory and simplify naming
  flake.nix
  hosts/desktop/configuration.nix
  hosts/desktop/hardware-configuration.nix
  hosts/desktop/home.nix
  hosts/mbp/configuration.nix
  hosts/mbp/home.nix
Due: alejandra, deadnix, statix

Fix remaining nix-darwin references in aliases and README
  README.md
  home/terminal/zsh/aliases.nix
Due: alejandra, deadnix, statix

Fix import paths after directory restructure
  hosts/desktop/configuration.nix
  hosts/desktop/home.nix
  hosts/mbp/home.nix
Due: alejandra, deadnix, statix

Add shared configurations to reduce duplication
  home/shared/base.nix
  hosts/desktop/configuration.nix
  hosts/desktop/home.nix
  hosts/mbp/configuration.nix
  hosts/mbp/home.nix
  hosts/shared/base.nix
  hosts/shared/users.nix
Due: alejandra, deadnix, statix

Fix import paths after home-manager reorganization
  home/darwin.nix
  home/profiles/development.nix
  home/programs/development/git/git-hooks.nix
  home/programs/development/kube/kube-config.nix
Due: alejandra, deadnix, statix

Reorganize modules with improved structure and separation of concerns
  hosts/desktop/configuration.nix
  hosts/mbp/configuration.nix
  hosts/shared/base.nix
  modules/features/fonts.nix
  modules/services/homebrew.nix
  modules/system/darwin/default.nix
  modules/system/darwin/defaults.nix
  modules/system/nixos/default.nix
  modules/system/shared/nix.nix
  modules/system/shared/users.nix
Due: alejandra, deadnix, statix

Reorganize packages into logical categories
  home/packages/build-tools.nix
  home/packages/code-quality.nix
  home/packages/common.nix
  home/packages/default.nix
  home/packages/development.nix
  home/packages/languages.nix
  home/packages/utilities.nix
  home/profiles/development.nix
Due: alejandra, deadnix, statix

Fixed: nvim color profile import
  home/programs/editors/neovim/lua/config/colors.lua
  modules/darwin/fonts.nix
Due: alejandra, deadnix, statix, stylua

Remove redundant old module files
  modules/common/darwin-common.nix
  modules/darwin/homebrew.nix
Due: alejandra, deadnix, statix

Remove final redundant old module structure
  modules/nixos/.keep
Due: none

Update README
  README.md
Due: none
