Repository Hackiri/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, deadnix, statix, stylua

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: alejandra
        name: Format Nix files with alejandra
        entry: alejandra
        language: system
        files: \.nix$

      - id: deadnix
        name: Find dead Nix code
        entry: deadnix
        language: system
        files: \.nix$

      - id: statix
        name: Lint Nix files
        entry: sh
        args: [-c, "cd $(git rev-parse --show-toplevel) && statix check"]
        language: system
        files: \.nix$
        pass_filenames: false

      - id: stylua
        name: Format Lua files
        entry: stylua
        language: system
        files: \.lua$

...
  README.md
Due: none

Reorganize shell configurations for better categorization
  home/profiles/development.nix
  home/profiles/minimal.nix
  home/programs/shells/bash/default.nix
  home/programs/shells/default.nix
  home/programs/shells/zsh/README.md
  home/programs/shells/zsh/aliases.nix
  home/programs/shells/zsh/default.nix
  home/programs/shells/zsh/lib/async_prompt.zsh
  home/programs/shells/zsh/lib/bzr.zsh
  home/programs/shells/zsh/lib/cli.zsh
  home/programs/shells/zsh/lib/clipboard.zsh
  home/programs/shells/zsh/lib/compfix.zsh
  home/programs/shells/zsh/lib/completion.zsh
  home/programs/shells/zsh/lib/correction.zsh
  home/programs/shells/zsh/lib/diagnostics.zsh
  home/programs/shells/zsh/lib/directories.zsh
  home/programs/shells/zsh/lib/functions.zsh
  home/programs/shells/zsh/lib/git.zsh
  home/programs/shells/zsh/lib/grep.zsh
  home/programs/shells/zsh/lib/history.zsh
  home/programs/shells/zsh/lib/key-bindings.zsh
  home/programs/shells/zsh/lib/misc.zsh
  home/programs/shells/zsh/lib/nvm.zsh
  home/programs/shells/zsh/lib/prompt_info_functions.zsh
  home/programs/shells/zsh/lib/spectrum.zsh
  home/programs/shells/zsh/lib/termsupport.zsh
  home/programs/shells/zsh/lib/tests/cli.test.zsh
  home/programs/shells/zsh/lib/theme-and-appearance.zsh
  home/programs/shells/zsh/lib/vcs_info.zsh
  home/programs/shells/zsh/oh-my-zsh.sh
  home/programs/shells/zsh/themes/agnoster.zsh-theme
  home/programs/shells/zsh/themes/jonathan.zsh-theme
  home/programs/shells/zsh/tools/changelog.sh
  home/programs/shells/zsh/tools/check_for_upgrade.sh
  home/programs/shells/zsh/tools/install.sh
  home/programs/shells/zsh/tools/require_tool.sh
  home/programs/shells/zsh/tools/theme_chooser.sh
  home/programs/shells/zsh/tools/uninstall.sh
  home/programs/shells/zsh/tools/upgrade.sh
  home/programs/terminals/default.nix
Due: alejandra, deadnix, statix

Update Neovim
  home/programs/editors/neovim/default.nix
  home/programs/editors/neovim/lua/compat/treesitter_query.lua
  home/programs/editors/neovim/lua/config/folding.lua
  home/programs/editors/neovim/lua/config/highlights.lua
  home/programs/editors/neovim/lua/config/lazy.lua
  home/programs/editors/neovim/lua/plugins/aerial.lua
  home/programs/editors/neovim/lua/plugins/avante.lua
  home/programs/editors/neovim/lua/plugins/blink-cmp.lua
  home/programs/editors/neovim/lua/plugins/bufferline.lua
  home/programs/editors/neovim/lua/plugins/copilot.lua
  home/programs/editors/neovim/lua/plugins/dap.lua
  home/programs/editors/neovim/lua/plugins/flash.lua
  home/programs/editors/neovim/lua/plugins/gitsigns.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/editors/neovim/lua/plugins/lualine.lua
  home/programs/editors/neovim/lua/plugins/luasnip.lua
  home/programs/editors/neovim/lua/plugins/mason-tool-installer.lua
  home/programs/editors/neovim/lua/plugins/mason.lua
  home/programs/editors/neovim/lua/plugins/mini-files.lua
  home/programs/editors/neovim/lua/plugins/mini-indentscope.lua
  home/programs/editors/neovim/lua/plugins/mini-pairs.lua
  home/programs/editors/neovim/lua/plugins/mini-surround.lua
  home/programs/editors/neovim/lua/plugins/neo-tree.lua
  home/programs/editors/neovim/lua/plugins/noice.lua
  home/programs/editors/neovim/lua/plugins/snacks.lua
  home/programs/editors/neovim/lua/plugins/telescope.lua
  home/programs/editors/neovim/lua/plugins/treesitter.lua
  home/programs/editors/neovim/lua/plugins/which-key.lua
Due: alejandra, deadnix, statix, stylua

Neovim Treesitter update
  home/programs/editors/neovim/lua/config/autocmds.lua
  home/programs/editors/neovim/lua/config/lazy.lua
  home/programs/editors/neovim/lua/plugins/treesitter.lua
Due: stylua

Update: neovim lazy.lua
  home/programs/editors/neovim/lua/config/lazy.lua
Due: stylua

Update lazy
  home/programs/editors/neovim/lua/config/lazy.lua
Due: stylua

Update Auto File Type Treesitter
  home/programs/editors/neovim/lua/plugins/treesitter.lua
Due: stylua

Update LSP.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
Due: stylua

...
  home/packages/cli-tools.nix
  home/packages/default.nix
  home/shared/base.nix
Due: alejandra, deadnix, statix

Nix configurations update
  home/darwin.nix
  home/packages/cli-tools.nix
  home/packages/default.nix
  home/packages/desktop.nix
  home/packages/network.nix
  home/packages/python.nix
  home/packages/security.nix
  home/packages/system.nix
  home/packages/terminals.nix
  home/packages/utilities.nix
  home/profiles/development.nix
  home/profiles/minimal.nix
  home/programs/development/default.nix
  home/programs/editors/default.nix
  home/programs/terminals/tmux/default.nix
  home/programs/utilities/aerospace/default.nix
  home/programs/utilities/default.nix
  home/programs/utilities/sops-nix/sops.nix
Due: alejandra, deadnix, statix

Update config files.
  home/darwin.nix
  home/packages/desktop.nix
  home/packages/network.nix
  home/packages/security.nix
  home/packages/system.nix
  home/packages/terminals.nix
  home/packages/utilities.nix
  home/programs/terminals/tmux/default.nix
Due: alejandra, deadnix, statix

Refactor: Improve custom package organization and dev-tools structure
  README.md
  flake.nix
  home/custom/default.nix
  home/custom/packages.nix
  home/packages/custom.nix
  home/packages/default.nix
  home/profiles/development.nix
  pkgs/default.nix
  pkgs/dev-tools.nix
  pkgs/scripts/default.nix
Due: alejandra, deadnix, statix

Fix: Add kube-packages to overlay exports
  home/custom/packages.nix
  overlays/default.nix
Due: alejandra, deadnix, statix

Fix: Move macOS-specific packages to proper platform files
  home/darwin.nix
  home/nixos.nix
  home/packages/desktop.nix
  home/packages/system.nix
  home/packages/terminals.nix
  home/programs/utilities/default.nix
Due: alejandra, deadnix, statix

Add platform-specific profiles for better organization
  home/profiles/desktop.nix
  home/profiles/macos.nix
  home/profiles/nixos.nix
  hosts/desktop/home.nix
  hosts/mbp/home.nix
Due: alejandra, deadnix, statix

Fix: Move aerospace import to proper location in profile hierarchy
  home/darwin.nix
  home/profiles/macos.nix
Due: alejandra, deadnix, statix

Fix: Add aerospace package to darwin.nix
  home/darwin.nix
  home/programs/utilities/aerospace/default.nix
Due: alejandra, deadnix, statix

Remove redundant macOS defaults from home/darwin.nix
  home/darwin.nix
Due: alejandra, deadnix, statix

Clean up redundant and confusing code
  home/profiles/development.nix
  hosts/desktop/home.nix
  hosts/mbp/home.nix
Due: alejandra, deadnix, statix

...
  home/common.nix
Due: alejandra, deadnix, statix

Updated Tool Sets for Remote Management
  home/custom/packages.nix
  home/programs/development/README.md
  home/programs/development/direnv/default.nix
  home/programs/development/git/git-hooks.nix
  pkgs/README.md
  pkgs/default.nix
  pkgs/dev-tools.nix
  pkgs/devshell/default.nix
  pkgs/devshell/devshell.sh
  pkgs/kubernetes-tools.nix
  test-setup.sh
Due: alejandra, deadnix, statix

Fixed indentation throughout
  README.md
  home/custom/default.nix
  home/custom/packages.nix
  home/darwin.nix
  home/nixos.nix
  home/packages/default.nix
  home/packages/desktop.nix
  home/packages/network.nix
  home/packages/security.nix
  home/packages/system.nix
  home/packages/terminals.nix
  home/packages/utilities.nix
  home/profiles/desktop.nix
  home/profiles/development.nix
  home/profiles/macos.nix
  home/profiles/nixos.nix
  home/programs/development/direnv/default.nix
  home/programs/development/git/git-hooks.nix
  home/programs/editors/neovim/default.nix
  home/programs/editors/neovim/lua/config/lazy.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/terminals/tmux/default.nix
  home/programs/utilities/aerospace/default.nix
  home/programs/utilities/sops-nix/sops.nix
  hosts/desktop/configuration.nix
  hosts/desktop/hardware-configuration.nix
  hosts/desktop/home.nix
  hosts/mbp/home.nix
  hosts/shared/users.nix
  modules/features/fonts.nix
  modules/services/homebrew.nix
  modules/system/darwin/default.nix
  modules/system/darwin/defaults.nix
  modules/system/nixos/default.nix
  modules/system/shared/nix.nix
  pkgs/dev-tools.nix
  pkgs/devshell/default.nix
  pkgs/kubernetes-tools.nix
  pkgs/scripts/default.nix
Due: alejandra, deadnix, statix, stylua

feat: optimize system shared modules
  MIGRATION_BACKUP.md
  flake.nix
  home/profiles/desktop.nix
  home/profiles/development.nix
  home/profiles/macos.nix
  home/profiles/minimal.nix
  home/profiles/nixos.nix
  home/programs/editors/neovide/default.nix
  home/programs/editors/neovim/default.nix
  home/shared/base.nix
  hosts/desktop/configuration.nix
  hosts/desktop/home.nix
  hosts/mbp/configuration.nix
  hosts/mbp/home.nix
  hosts/shared/base.nix
  hosts/shared/users.nix
  modules/system/darwin/default.nix
  modules/system/nixos/default.nix
  modules/system/shared/nix.nix
  modules/system/shared/security.nix
  modules/system/shared/users.nix
Due: alejandra, deadnix, statix

fix: make command-not-found disable conditional for Linux only
  modules/system/shared/nix.nix
Due: alejandra, deadnix, statix

fix: resolve cross-platform configuration conflicts
  MIGRATION_BACKUP.md
  modules/services/homebrew.nix
  modules/system/darwin/default.nix
  modules/system/nixos/default.nix
  modules/system/shared/nix.nix
  modules/system/shared/security.nix
  test-setup.sh
Due: alejandra, deadnix, statix

fix: add pygments to system packages to resolve activation error
  modules/system/shared/users.nix
Due: alejandra, deadnix, statix

fix: correct Doom Emacs config path to eliminate warnings
  home/programs/editors/emacs/default.nix
Due: alejandra, deadnix, statix

refactor: consolidate build-tools.nix and cli-tools.nix into dev-tools.nix
  home/packages/build-tools.nix
  home/packages/cli-tools.nix
  home/packages/default.nix
  home/packages/dev-tools.nix
Due: alejandra, deadnix, statix

fix: Removed duplicate: Removed ../packages/cli-tools.nix since it's now consolidated
  home/profiles/development.nix
Due: alejandra, deadnix, statix

feat(neovim): fix treesitter main branch with explorer support and manual controls
  home/programs/editors/neovim/default.nix
  home/programs/editors/neovim/lua/compat/treesitter_query.lua
  home/programs/editors/neovim/lua/config/autocmds.lua
  home/programs/editors/neovim/lua/config/lazy.lua
  home/programs/editors/neovim/lua/plugins/headlines.lua
  home/programs/editors/neovim/lua/plugins/lualine.lua
  home/programs/editors/neovim/lua/plugins/luasnip.lua
  home/programs/editors/neovim/lua/plugins/render-markdown.lua
  home/programs/editors/neovim/lua/plugins/treesitter.lua
  modules/services/homebrew.nix
Due: alejandra, deadnix, statix, stylua

fix: luasnip, neo-tree, conform
  home/programs/editors/neovim/default.nix
  home/programs/editors/neovim/lua/plugins/conform.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/editors/neovim/lua/plugins/luasnip.lua
  home/programs/editors/neovim/lua/plugins/neo-tree.lua
  home/programs/editors/neovim/lua/plugins/treesitter.lua
  pkgs/dev-tools.nix
Due: alejandra, deadnix, statix, stylua

fix: Neovim keymaps
  home/programs/editors/neovim/lua/config/autocmds.lua
  home/programs/editors/neovim/lua/config/keymaps.lua
  home/programs/editors/neovim/lua/config/lazy.lua
  home/programs/editors/neovim/lua/plugins/conform.lua
  home/programs/editors/neovim/lua/plugins/lazy-override.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/editors/neovim/lua/plugins/luasnip.lua
  home/programs/editors/neovim/lua/plugins/treesitter.lua
Due: stylua

refactor: improve naming consistency across config
  LAYOUT_IMPROVEMENTS.md
  home/darwin.nix
  home/packages/build-tools.nix
  home/packages/custom/default.nix
  home/packages/custom/packages.nix
  home/packages/databases.nix
  home/packages/default.nix
  home/packages/languages.nix
  home/packages/python.nix
  home/packages/web-dev.nix
  home/profiles/darwin.nix
  home/profiles/development.nix
  home/programs/development/README.md
  home/programs/development/default.nix
  home/programs/development/kube/kube.nix
  home/programs/kubernetes/README.md
  home/programs/kubernetes/default.nix
  home/programs/kubernetes/options.nix
  hosts/mbp/home.nix
  modules/optional-features/fonts.nix
  modules/system/darwin/default.nix
  modules/system/nixos/default.nix
  pkgs/collections/kubernetes-tools.nix
  pkgs/default.nix
  pkgs/scripts/dev-tools.nix
  pkgs/scripts/devshell/config.nix
  pkgs/scripts/devshell/default.nix
  pkgs/scripts/devshell/devshell.sh
Due: alejandra, deadnix, statix

...
  .gitignore
  LAYOUT_IMPROVEMENTS.md
Due: none

Update: neovim, tmux configs
  home/programs/editors/neovim/lua/config/autocmds.lua
  home/programs/editors/neovim/lua/config/keymaps.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/terminals/tmux/tmux.conf
Due: stylua

Update: Migration to LazyVim 15.x
  home/programs/editors/neovim/lua/config/autocmds.lua
  home/programs/editors/neovim/lua/config/keymaps.lua
  home/programs/editors/neovim/lua/plugins/fzf-lua.lua
  home/programs/editors/neovim/lua/plugins/indent-blankline.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/editors/neovim/lua/plugins/lualine.lua
  home/programs/editors/neovim/lua/plugins/mason.lua
  home/programs/editors/neovim/lua/plugins/snacks.lua
  home/programs/editors/neovim/lua/plugins/telescope-frecency.lua
  home/programs/editors/neovim/lua/plugins/telescope.lua
Due: stylua

Fixed fzf-lua Treesitter Compatibility Error
  home/programs/editors/neovim/lua/plugins/fzf-lua.lua
Due: stylua

Replaced nvim-notify with Snacks.notifier
  home/programs/editors/neovim/lua/plugins/misc.lua
  home/programs/editors/neovim/lua/plugins/noice.lua
  home/programs/editors/neovim/lua/plugins/snacks.lua
Due: stylua

feat(neovim): complete config migration and fix critical errors
  home/programs/editors/neovim/init.lua
  home/programs/editors/neovim/lua/config/init.lua
  home/programs/editors/neovim/lua/plugins/close-buffers.lua
  home/programs/editors/neovim/lua/plugins/colorscheme.lua
  home/programs/editors/neovim/lua/plugins/conform.lua
  home/programs/editors/neovim/lua/plugins/dial.lua
  home/programs/editors/neovim/lua/plugins/git-nvim.lua
  home/programs/editors/neovim/lua/plugins/inc-rename.lua
  home/programs/editors/neovim/lua/plugins/incline.lua
  home/programs/editors/neovim/lua/plugins/lazy-override.lua
  home/programs/editors/neovim/lua/plugins/lazygit.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/editors/neovim/lua/plugins/mini-bracketed.lua
  home/programs/editors/neovim/lua/plugins/nvim-highlight-colors.lua
  home/programs/editors/neovim/lua/plugins/treesitter.lua
  home/programs/editors/neovim/lua/plugins/zen-mode.lua
Due: stylua
