Repository Hackiri/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, deadnix, statix, stylua

alejandra:
  name: Format Nix files with alejandra
  entry: alejandra
  language: system

deadnix:
  name: Find dead Nix code
  entry: deadnix
  language: system

statix:
  name: Lint Nix files
  entry: sh
  args:
  - -c
  - cd $(git rev-parse --show-toplevel) && statix check
  language: system
  pass_filenames: false

stylua:
  name: Format Lua files
  entry: stylua
  language: system

feat: improve mini-files toggle and add pika color picker
  home/programs/editors/neovim/lua/plugins/mini-files.lua
  modules/services/homebrew.nix
Due: alejandra, deadnix, statix, stylua

feat(tmux): migrate to Eldritch color scheme
  home/programs/terminals/tmux/pam.d/sudo-local
  home/programs/terminals/tmux/tmux.conf
Due: none

refactor(tmux): updated pane-border color
  home/programs/terminals/tmux/tmux.conf
Due: none

refactor: clean up shell and terminal configs
  home/programs/shells/starship/starship.toml
  home/programs/shells/zsh/aliases.nix
  home/programs/shells/zsh/default.nix
  home/programs/terminals/ghostty/config
  home/programs/terminals/tmux/tmux.conf
Due: alejandra, deadnix, statix

feat(starship): migrate to Nerd Font icons
  home/programs/shells/starship/starship.toml
Due: none

refactor: renamed and fixed imports
  README.md
  home/profiles/darwin.nix
  home/profiles/nixos.nix
  home/profiles/platform/darwin-pkgs.nix
  home/profiles/platform/nixos-pkgs.nix
Due: alejandra, deadnix, statix

feat: add Kubernetes development profile
  home/profiles/README.md
  home/profiles/kube-dev.nix
  hosts/mbp/home.nix
  pkgs/collections/kubernetes-tools.nix
Due: alejandra, deadnix, statix

fix(kubernetes-tools): export full record instead of list
  pkgs/collections/kubernetes-tools.nix
Due: alejandra, deadnix, statix

refactor: consolidate custom packages into single file
  home/packages/custom.nix
  home/packages/custom/default.nix
  home/packages/custom/packages.nix
  home/profiles/development.nix
Due: alejandra, deadnix, statix

style: format code and standardize whitespace across multiple files
  home/packages/default.nix
  home/profiles/kube-dev.nix
  home/programs/editors/neovim/default.nix
  home/programs/editors/neovim/lua/compat/treesitter.lua
  home/programs/editors/neovim/lua/config/keymaps.lua
  home/programs/editors/neovim/lua/config/lazy.lua
  home/programs/editors/neovim/lua/personal-plugins/misc.lua
  home/programs/editors/neovim/lua/plugins/colorschemes/eldritch.lua
  home/programs/editors/neovim/lua/plugins/lualine.lua
  home/programs/editors/neovim/lua/snippets/bash.lua
  home/programs/editors/neovim/lua/snippets/docker.lua
  home/programs/editors/neovim/lua/snippets/docker_compose.lua
  home/programs/editors/neovim/lua/snippets/go.lua
  home/programs/editors/neovim/lua/snippets/init.lua
  home/programs/editors/neovim/lua/snippets/kubernetes.lua
  home/programs/editors/neovim/lua/snippets/lua_nvim.lua
  home/programs/editors/neovim/lua/snippets/nix.lua
  home/programs/editors/neovim/lua/snippets/node.lua
  home/programs/editors/neovim/lua/snippets/sql.lua
  home/programs/editors/neovim/lua/snippets/typescript.lua
  home/programs/shells/starship/starship.toml
  home/programs/terminals/ghostty/config
  home/programs/terminals/tmux/tmux.conf
Due: alejandra, deadnix, statix, stylua

fix: update LSP server configuration to use lspconfig setup and add nix treesitter parser
  home/programs/editors/neovim/lua/plugins/lsp.lua
  home/programs/editors/neovim/lua/plugins/treesitter.lua
Due: stylua

refactor: remove unused zsh lib files for async prompt, bzr and cli
  home/programs/shells/zsh/lib/async_prompt.zsh
  home/programs/shells/zsh/lib/bzr.zsh
  home/programs/shells/zsh/lib/cli.zsh
  home/programs/shells/zsh/lib/clipboard.zsh
  home/programs/shells/zsh/lib/compfix.zsh
  home/programs/shells/zsh/lib/completion.zsh
  home/programs/shells/zsh/lib/correction.zsh
  home/programs/shells/zsh/lib/diagnostics.zsh
  home/programs/shells/zsh/lib/directories.zsh
  home/programs/shells/zsh/lib/functions.zsh
  home/programs/shells/zsh/lib/git.zsh
  home/programs/shells/zsh/lib/grep.zsh
  home/programs/shells/zsh/lib/history.zsh
  home/programs/shells/zsh/lib/key-bindings.zsh
  home/programs/shells/zsh/lib/misc.zsh
  home/programs/shells/zsh/lib/nvm.zsh
  home/programs/shells/zsh/lib/prompt_info_functions.zsh
  home/programs/shells/zsh/lib/spectrum.zsh
  home/programs/shells/zsh/lib/termsupport.zsh
  home/programs/shells/zsh/lib/tests/cli.test.zsh
  home/programs/shells/zsh/lib/theme-and-appearance.zsh
  home/programs/shells/zsh/lib/vcs_info.zsh
  home/programs/shells/zsh/oh-my-zsh.sh
  home/programs/shells/zsh/tools/changelog.sh
  home/programs/shells/zsh/tools/check_for_upgrade.sh
  home/programs/shells/zsh/tools/install.sh
  home/programs/shells/zsh/tools/require_tool.sh
  home/programs/shells/zsh/tools/theme_chooser.sh
  home/programs/shells/zsh/tools/uninstall.sh
  home/programs/shells/zsh/tools/upgrade.sh
Due: none

feat: add neovide GUI configuration and optimize zsh shell integrations
  home/profiles/desktop.nix
  home/programs/editors/neovim/lua/config/options.lua
  home/programs/shells/zsh/default.nix
  home/programs/shells/zsh/fzf-cilium.nix
  home/programs/shells/zsh/fzf-git.nix
  home/programs/shells/zsh/fzf-kubectl.nix
  home/programs/shells/zsh/fzf-talos.nix
  home/programs/terminals/ghostty/config
  home/programs/utilities/aerospace/default.nix
Due: alejandra, deadnix, statix, stylua

refactor: update ghostty keybindings to use alt instead of shift for split navigation
  home/programs/terminals/ghostty/config
Due: none

docs: update Zsh README with expanded features, keybindings and troubleshooting guide
  home/programs/shells/zsh/README.md
Due: none

docs: add component documentation and fix cilium debug function naming
  README.md
  home/programs/shells/zsh/fzf-cilium.nix
  home/programs/utilities/aerospace/default.nix
  test-fzf-commands.sh
Due: alejandra, deadnix, statix

fix: update branch filtering pattern to match HEAD refs without whitespace requirement
  home/programs/shells/zsh/fzf-git.nix
Due: alejandra, deadnix, statix

docs: simplify nix installation guide with clearer setup steps and options
  README.md
  test-fzf-commands.sh
Due: none

docs: add detailed SOPS setup guide and example secrets structure
  README.md
Due: none

refactor: disable nix-darwin's Nix management in favor of Determinate Nix
  modules/system/shared/nix.nix
Due: alejandra, deadnix, statix

feat: migrate to cachix/git-hooks.nix for pure Nix pre-commit hooks
  .gitignore
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  home/packages/code-quality.nix
  home/programs/development/git/git-hooks.nix
  modules/system/shared/nix.nix
Due: alejandra, deadnix, statix

refactor: dynamically fetch theme colors from active colorscheme instead of hardcoding
  home/programs/editors/neovim/lua/config/highlights.lua
Due: stylua

feat: upgrade Emacs config for Emacs 31
  flake.lock
  home/programs/editors/emacs/default.nix
  home/programs/editors/emacs/doom.d/config.el
  home/programs/editors/emacs/doom.d/init.el
  modules/optional-features/fonts.nix
  overlays/emacs.nix
Due: alejandra, deadnix, statix

docs: add secrets profile and improve git configuration instructions
  README.md
  home/profiles/README.md
  home/profiles/development.nix
  home/profiles/secrets.nix
  home/programs/development/default.nix
  home/programs/development/git/default.nix
Due: alejandra, deadnix, statix

docs: add secrets profile and improve git configuration instructions
  .pre-commit-config.yaml
  home/profiles/README.md
  home/profiles/base/git.nix
  home/profiles/base/minimal.nix
  home/profiles/base/secrets.nix
  home/profiles/development.nix
  home/profiles/features/desktop.nix
  home/profiles/features/development.nix
  home/profiles/features/kubernetes.nix
  home/profiles/platform/darwin.nix
  home/profiles/platform/nixos.nix
  home/programs/development/default.nix
  home/programs/utilities/default.nix
  hosts/desktop/home.nix
  hosts/mbp/home.nix
Due: alejandra, deadnix, statix

docs: simplify Git setup instructions and remove optional secrets profile
  README.md
  home/profiles/features/development.nix
  home/programs/terminals/tmux/tmux.conf
Due: alejandra, deadnix, statix

refactor: comment out Git sops integration in development profile
  home/profiles/features/development.nix
Due: alejandra, deadnix, statix

docs: improve secrets setup instructions in README
  README.md
Due: none

feat: enhance Doom Emacs configuration with additional features
  home/programs/editors/emacs/doom.d/init.el
Due: none

feat: improve LSP definition handling and UI formatting
  home/programs/editors/neovim/lua/plugins/lsp.lua
Due: stylua

feat: replace neo-tree with snacks explorer
  home/programs/editors/neovim/lua/config/keymaps.lua
  home/programs/editors/neovim/lua/plugins/bufferline.lua
  home/programs/editors/neovim/lua/plugins/neo-tree.lua
  home/programs/editors/neovim/lua/plugins/snacks.lua
Due: stylua

refactor: remove git.nvim plugin configuration
  home/programs/editors/neovim/lua/plugins/git-nvim.lua
Due: stylua

feat: migrate LSP setup to Neovim 0.11+ API with improved root detection
  home/programs/editors/neovim/lua/plugins/lsp.lua
Due: stylua

feat: enhance fzf-lua with exact matching and multi-stage filtering
  home/programs/editors/neovim/lua/plugins/fzf-lua.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
Due: stylua

refactor: reorganize package dependencies and simplify terminal config
  home/packages/utilities.nix
  home/programs/editors/neovim/default.nix
  home/programs/terminals/ghostty/config
Due: alejandra, deadnix, statix

refactor: (neovim) remove fidget.nvim plugin configuration
  home/programs/editors/neovim/lua/plugins/lsp.lua
Due: stylua

feat: enhance LSP configuration and add pre-commit hooks
  README.md
  home/programs/editors/neovim/lua/plugins/lsp.lua
Due: stylua

feat: improve neovim keymaps and LSP configuration
  home/programs/editors/neovim/lua/config/keymaps.lua
  home/programs/editors/neovim/lua/plugins/lsp.lua
Due: stylua

feat: enhance neovim UI with improved statusline and darker theme
  home/programs/editors/neovim/lua/config/colors.lua
  home/programs/editors/neovim/lua/plugins/lualine.lua
Due: stylua

feat: enhance neovim keymaps and plugin configuration
  home/programs/editors/neovim/lua/config/keymaps.lua
  home/programs/editors/neovim/lua/config/lazy.lua
Due: stylua

Path conditions:
  alejandra: any of: \.nix$
  deadnix: any of: \.nix$
  statix: any of: \.nix$
  stylua: any of: \.lua$
